$white: rgba(255, 255, 255, 1);
$white-2: #f5f5f5;
$white-3: #eaeaea;
$black: rgba(0, 0, 0, 1);
$black-05: rgba(0, 0, 0, 0.5);
$persian-red: #c63331;
$red-015: rgba(198, 51, 49, 0.15);
$mandarin: #ea713d;
$mandarin-015: #ea713d26;
$ruby-red: #9e1f1d;
$red-03: rgba(234, 113, 61, 0.3);
$gray-1: #989898;
$gray-2: rgba(204, 204, 204, 1);
$gray-005: rgba(152, 152, 152, 0.05);
$gray-light: #d5d5d5;
$green: #7dc81e;
$green-015: rgba(125, 200, 30, 0.15);
$deep-purple: rgba(125, 0, 179, 1);
